<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyworth.mapper.EquipMapper">
	<!-- query equiplist -->
	<resultMap id="BaseResultMap" type="com.skyworth.entity.Equip">
		<id column="toei_id" property="toeiId" jdbcType="INTEGER" />
		<result column="toei_equipment_name" property="toeiEquipmentName" jdbcType="VARCHAR" />
		<result column="toei_equipment_code" property="toeiEquipmentCode" jdbcType="VARCHAR" />
		<result column="toei_equipment_core" property="toeiEquipmentCore" jdbcType="VARCHAR" />
		<result column="toei_equipment_type" property="toeiEquipmentType" jdbcType="VARCHAR" />
		<result column="toei_equipment_country" property="toeiEquipmentCountry" jdbcType="VARCHAR" />
		<result column="toei_equipment_country_name" property="toeiEquipmentCountryName" jdbcType="VARCHAR" />
		<result column="toei_default_scheme" property="toeiDefaultScheme" jdbcType="INTEGER" />
		<result column="toei_default_schemename" property="toeiDefaultSchemeName" jdbcType="VARCHAR" />
		<result column="toei_useing_scheme" property="toeiUseingScheme" jdbcType="INTEGER" />
		<result column="toei_useing_schemename" property="toeiUseingSchemeName" jdbcType="VARCHAR" />
		<result column="toei_remark" property="toeiRemark" jdbcType="VARCHAR" />
		<result column="isenable" property="isenable" jdbcType="INTEGER" />
	</resultMap>
	<select id="queryEquipList" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		toei_id,
		toei_equipment_name,toei_equipment_code,toei_equipment_core,toei_equipment_type,toei_equipment_country,
		code.code_name as toei_equipment_country_name,
		toei_default_scheme,tose.tose_name as toei_default_schemename,
		toei_useing_scheme,tose2.tose_name as toei_useing_schemename,toei.isenable,toei_remark

		FROM tvso_equipment_info toei
		INNER JOIN tvso_parameter_code code ON code.code_code = toei.toei_equipment_country AND code.code_type = 'country'
		LEFT JOIN tvso_scheme tose ON tose.tose_id = toei.toei_default_scheme
		LEFT JOIN tvso_scheme tose2 ON tose2.tose_id = toei.toei_useing_scheme
		WHERE 1=1
		<if test="toeiEquipmentName != null and toeiEquipmentName != ''"> AND toei_equipment_name LIKE CONCAT(#{toeiEquipmentName},'%')</if>
		<if test="toeiEquipmentCode != null and toeiEquipmentCode != ''"> AND toei_equipment_code LIKE CONCAT(#{toeiEquipmentCode},'%')</if>
		<if test="toeiEquipmentCountry != null and toeiEquipmentCountry != ''"> AND toei_equipment_country = #{toeiEquipmentCountry}</if>
		ORDER BY toei_equipment_code DESC
	</select>
	
	<!-- fing equip by id -->
	<select id="findEquipById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		toei_id,
		toei_equipment_name,toei_equipment_code,toei_equipment_core,toei_equipment_type,toei_equipment_country,
		toei_default_scheme,tose.tose_name as toei_default_schemename,
		toei_useing_scheme,tose2.tose_name as toei_useing_schemename,toei.isenable,toei_remark

		FROM tvso_equipment_info toei
		LEFT JOIN tvso_scheme tose ON tose.tose_id = toei.toei_default_scheme
		LEFT JOIN tvso_scheme tose2 ON tose2.tose_id = toei.toei_useing_scheme
		WHERE toei_id = #{toeiId}
	</select>

	<!-- update equip -->
	<update id="updateEquip" parameterType="com.skyworth.entity.Equip">
		UPDATE tvso_equipment_info
		SET 
		toei_equipment_code = #{toeiEquipmentCode},
		toei_equipment_name = #{toeiEquipmentName},
		toei_remark = #{toeiRemark},
		toei_default_scheme = #{toeiDefaultScheme},
		toei_useing_scheme = #{toeiUseingScheme},
		modtime = now()
		WHERE toei_id = #{toeiId}
	</update>

	<!-- add equip -->
	<insert id="addEquip" parameterType="com.skyworth.entity.Equip">
		INSERT INTO
		tvso_equipment_info
		(toei_equipment_name,toei_equipment_code,toei_equipment_core,toei_equipment_type,toei_equipment_country,
		toei_default_scheme,toei_useing_scheme,toei_remark)
		VALUES
		(#{toeiEquipmentName},#{toeiEquipmentCode},#{toeiEquipmentCore},#{toeiEquipmentType},#{toeiEquipmentCountry},
		#{toeiDefaultScheme},#{toeiUseingScheme},#{toeiRemark})
	</insert>

	<!-- delete equip -->
	<delete id="deleteEquip" parameterType="java.lang.Integer">
		DELETE FROM tvso_equipment_info
		WHERE toei_id = #{toeiId}
	</delete>
	
	<!-- unable equip -->
	<update id="unableEquip" parameterType="java.lang.Integer">
		UPDATE tvso_equipment_info
		SET isenable = 0,
		modtime = now()
		WHERE toei_id = #{toeiId}
	</update>
	
	<!-- effect equip -->
	<update id="effectEquip" parameterType="java.lang.Integer">
		UPDATE tvso_equipment_info
		SET isenable = 1,
		modtime = now()
		WHERE toei_id = #{toeiId}
	</update>
	
	<!-- query equip by keyword -->
	<select id="queryEquipByKey" parameterType="java.lang.String" resultType="java.util.HashMap">
		SELECT
		CONCAT(toei_equipment_name ,'(',toei_equipment_code ,')') as tourName , toei_equipment_code as tourAccount
		FROM tvso_equipment_info
		WHERE 1 = 1
		<if test="_parameter != null and _parameter != ''"> AND locate( #{_parameter},toei_equipment_name) OR  locate( #{_parameter},toei_equipment_code)</if>
		<if test="_parameter == null or _parameter == ''"> limit 10</if> 
	</select>
	
	<!-- get defaultScheme -->
	<select id="getDefaultScheme" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT tose_id as toseId, tose_name as toseName
		FROM tvso_scheme
		WHERE tose_equipment_core = #{toeiEquipmentCore}
		AND tose_equipment_type = #{toeiEquipmentType}
		AND tose_equipment_country = #{toeiEquipmentCountry}
		AND tose_union_cust = 'system' AND isenable = 1 AND tose_status = 3
		ORDER BY tose_version DESC, tose_level DESC
		limit 1
	</select>
	
	<!-- get scheme list-->
	<select id="getSchemeList" resultType="java.util.HashMap" parameterType="java.util.Map">
		SELECT tose_id as toseId, CONCAT(tose_name,'(版本：',tose_version,',优先级：',tose_level ,')') as toseName
		FROM tvso_scheme
		WHERE isenable = 1
		AND tose_equipment_core = #{toeiEquipmentCore}
		AND tose_equipment_type = #{toeiEquipmentType}
		AND tose_equipment_country = #{toeiEquipmentCountry}
		AND isenable = 1 AND tose_status = 3
		ORDER BY tose_version DESC, tose_level DESC
		limit 1
	</select>
	
	<!-- check equip exists -->
	<select id="checkEquipExists" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT toei_equipment_code FROM tvso_equipment_info
		WHERE toei_equipment_core = #{toeiEquipmentCore}
		AND toei_equipment_type = #{toeiEquipmentType}
		AND toei_equipment_country = #{toeiEquipmentCountry}
	</select>
</mapper>