<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.skyworth.mapper.PublicMapper">
	<!-- query max -->
	<select id="getMaxNum" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT MAX(${nbr})
		FROM
		${table}
		WHERE substring(${nbr},4,4) = date_format(now(),'%y%m')
	</select>

	<!-- query baseType -->
	<select id="queryBaseType" resultType="java.util.HashMap" parameterType="java.lang.String">
		SELECT 
		code_code as codeCode,code_name as codeName
		FROM tvso_parameter_code
		WHERE isenable = 1 AND code_type = #{_parameter}
		ORDER BY code_seq ASC
	</select>
</mapper>