<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.skyworth.mapper.SchemeMapper">
	<resultMap id="BaseResultMap" type="com.skyworth.entity.Scheme">
		<id column="tose_id" property="toseId" jdbcType="INTEGER" />
		<result column="tose_code" property="toseCode" jdbcType="VARCHAR" />
		<result column="tose_name" property="toseName" jdbcType="VARCHAR" />
		<result column="tose_equipment_core" property="toseEquipmentCore" jdbcType="VARCHAR" />
		<result column="tose_equipment_type" property="toseEquipmentType" jdbcType="VARCHAR" />
		<result column="tose_equipment_country" property="toseEquipmentCountry" jdbcType="VARCHAR" />
		<result column="tose_language" property="toseLanguage" jdbcType="VARCHAR" />
		<result column="tose_level" property="toseLevel" jdbcType="INTEGER" />
		<result column="tose_version" property="toseVersion" jdbcType="VARCHAR" />
		<result column="tose_union_cust" property="toseUnionCust" jdbcType="VARCHAR" />
		<result column="tose_remark" property="toseRemark" jdbcType="VARCHAR" />
		<result column="tose_status" property="toseStatus" jdbcType="INTEGER" />
		<result column="isenable" property="isenable" jdbcType="INTEGER" />
		<collection property="schemeDetail" ofType="com.skyworth.entity.SchemeDetail"
			column="tose_id" select="findSchemeDById">
		</collection>
	</resultMap>

	<!-- query scheme list -->
	<select id="querySchemeList" resultType="HashMap" parameterType="Map">
		SELECT
		tose_id as toseId,tose_code as toseCode,tose_name as toseName,
		tose_level as
		toseLevel,tose_version as toseVersion,
		(case when tour.tour_name is null then '系统' else
		tour.tour_name end) as toseUnionCustName
		FROM tvso_scheme m
		LEFT JOIN tvso_user tour ON tour.tour_id
		= tose_union_cust
		WHERE 1=1
		<if test="toseCode != null and toseCode != ''"> AND tose_code LIKE CONCAT(#{toseCode},'%')</if>
		<if test="toseName != null and toseName != ''"> AND tose_name LIKE CONCAT(#{toseName},'%')</if>
		<if test="toseEquipmentCountry != null and toseEquipmentCountry != ''"> AND tose_equipment_country = #{toseEquipmentCountry}</if>
		ORDER BY FIELD('tose_status',2,1,3,4),tose_code DESC
	</select>

	<!-- query scheme by id -->
	<select id="findSchemeById" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		tose_id,tose_code,tose_name,tose_equipment_core,tose_equipment_type,tose_equipment_country,
		tose_language,tose_level,tose_version,tose_union_cust,tose_remark,tose_status,isenable
		FROM
		tvso_scheme
		WHERE tose_id = #{toseId}
	</select>

	<!-- query scheme_d by id -->
	<select id="findSchemeDById" resultType="com.skyworth.entity.SchemeDetail"
		parameterType="java.lang.Integer">
		SELECT
		tosd_model_id as tosdModelId,tosd_model_order as tosdModelOrder,
		tosd_ref_id as
		tosdRefId,tomd_poster_url as tosdRefUrl
		FROM tvso_scheme_d tosd
		LEFT JOIN tvso_material_data tomd ON
		tomd.tomd_id = tosd_ref_id
		WHERE tosd_tose_id = #{toseId}
	</select>

	<!-- add scheme_m -->
	<insert id="addScheme" parameterType="com.skyworth.entity.Scheme" useGeneratedKeys="true"
		keyProperty="toseId">
		INSERT INTO tvso_scheme
		(tose_code,tose_name,tose_equipment_core,tose_equipment_type,tose_equipment_country,
		tose_language,tose_level,tose_version,tose_union_cust,tose_remark,tose_status)
		VALUES
		(#{toseCode},#{toseName},#{toseEquipmentCore},#{toseEquipmentType},#{toseEquipmentCountry},
		#{toseLanguage},#{toseLevel},#{toseVersion},#{toseUnionCust},#{toseRemark},#{toseStatus})
	</insert>

	<!-- add scheme_d -->
	<insert id="addSchemeDetail" parameterType="java.util.List">
		INSERT INTO tvso_scheme_d
		(tosd_tose_id,tosd_model_id,tosd_model_order,tosd_ref_id)
		VALUES
		<!--item就是List里每一项的对象名，要用","分割每一条数据，最后要";"结尾 -->
		<foreach collection="list" item="tosd" index="index" separator="," close=";">
			(#{tosd.tosdToseId,jdbcType=INTEGER}, #{tosd.tosdModelId,jdbcType=INTEGER},
			#{tosd.tosdModelOrder,jdbcType=INTEGER}, #{tosd.tosdRefId,jdbcType=INTEGER})
		</foreach>
	</insert>
	
	<!-- update scheme -->
	<update id="updateScheme" parameterType="com.skyworth.entity.Scheme">
		UPDATE tvso_scheme
		SET tose_equipment_core = #{toseEquipmentCore},
		tose_equipment_type = #{toseEquipmentType},
		tose_equipment_country = #{toseEquipmentCountry},
		tose_language = #{toseLanguage},
		tose_level = #{toseLevel},
		tose_version = #{toseVersion},
		tose_union_cust = #{toseUnionCust},
		tose_remark = #{toseRemark}
		WHERE tvso_id = #{tvsoId}
	</update>
	
	<!-- update scheme_d -->
	<update id="updateSchemeDetail" parameterType="com.skyworth.entity.SchemeDetail">
		UPDATE tvso_scheme_d
		SET tosd_model_order = #{tosdModelOrder},
		tosd_ref_id = #{tosdRefId}
		WHERE tosd_id = #{tosdId}
	</update>
	
	<!-- delete scheme -->
	<delete id="deleteScheme" parameterType="java.lang.Integer">
		DELETE FRON tvso_scheme
		WHERE tvso_id = #{tvsoId}
	</delete>
	
	<!-- delete scheme_d -->
	<delete id="deleteSchemeDetail" parameterType="java.lang.Integer">
		DELETE FRON tvso_scheme_d
		WHERE tvsd_tvso_id = #{tvsoId}
	</delete>
	
	<!-- unable scheme -->
	<update id="unableScheme" parameterType="java.lang.Integer">
		UPDATE tvso_scheme
		SET isenbale = 0,
		modtime = now()
		WHERE tvso_id = #{tvsoId}
	</update>
	
	<!-- effect scheme -->
	<update id="effectScheme" parameterType="java.lang.Integer">
		UPDATE tvso_scheme
		SET isenbale = 1,
		modtime = now()
		WHERE tvso_id = #{tvsoId}
	</update>
</mapper>